---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

/**
 * Basic styling
 */
body {
  font-weight: 300;
}


/**
 * Links
 */
a {
  color: #129ea5;

  &:hover {
    color: #073f3f;
    text-decoration: none;
  }

  &:visited {
    color: #129ea5;
  }

  &:visited:hover {
    color: #073f3f;
    text-decoration: none;
  }
}


/**
 * Site header
 */
.site-header {
  border-top: none;
  padding: 5px;
  border-bottom: 1px solid $grey-color-light;

  a {
    color: #129ea5;

    &:hover {
      color: #073f3f;
      text-decoration: none;
    }

    &:visited {
      color: #129ea5;
    }

    &:visited:hover {
      color: #073f3f;
      text-decoration: none;
    }
  }

}

hr {
	border-top: 1px solid $grey-color-light;
	border-bottom: none;
}
